// =================================================
//
// Codes
//
// =================================================

body {
	position: relative;
	overflow: hidden;
	min-height: 100%;
}
.content {
	position: absolute;
	z-index: 1;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: #222;
	transform: translate3d(0, 0, 0);
	transition: transform 0.4s cubic-bezier(0.455, 0.030, 0.515, 0.955);

	.open-menu & {
		transform: translate3d(200px, 80px, 0);
	}
}

.codes {
	height: 100%;
	width: 100%;
}
