// =================================================
//
// Grid - Item
//
// =================================================

.grid-item {
	float: left;
	width: 20%;
	height: 100%;
	border-right: 1px solid #eee;
	cursor: pointer;

	&:last-child {
		border-right: none;
	}

	&:not(.grid-center) {
		&:hover {
			background-color: #f5f5f5;
		}
	}
}
