// =================================================
//
// Grid - Row
//
// =================================================

.grid-row {
	margin: 0;
	padding: 0;
	list-style: none;
	height: 20vh;
	border-bottom: 1px solid #eee;

	&:last-child {
		border-bottom: none;
	}
}
