// =================================================
//
// Typography
//
// =================================================


// =================================================
// Body
// =================================================

html, body {
	font-size: 12px;
	font-family: 'inconsolata', 'courier new', 'courier', 'monospace';
	color: #444;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
}
